/* Smaller than standard 960 (devices and browsers) */
 @media (max-width: 992px) {
    .navbar-header {
        float: none;
		text-align:center;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: inline-block;
		border:none;
		margin:0;
		padding:0;
		float:none;
    }
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border:none;
	}
	
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
		background:none;
		border:none;
	}
	.navbar-default .navbar-toggle:hover .icon-bar{
		background:#333;
		border:none;
	}
	.navbar-default .navbar-toggle .icon-bar{
		background:#333;
	}
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: left !important;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
	.navbar-wrap{
		background: rgba(64,170,230,0.7);
	}
	.navbar-default .navbar-nav > li {
		display: inline-block;
		margin-bottom: 8px;
		text-align: center;
		width: 100%;
	}
	.macbook-screen{
		text-align:center;
		position:relative;
		right:auto;
		bottom:70px;
	}
    
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {	
	
}
@media screen and (min-width: 800px) and (max-width: 600px) {
	
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	body {
		margin:0;
		padding:0;
	}
	
	.arrow-down{
		position:relative;
	}
	.arrow-down a{
		margin:0;
	}
	.header-text h1{
		font-size:40px;
	}
	.header-text{
		padding:70px 0;
	}
	.header-text br{
		display:none;
	}
	.welcome-text{
		padding-top:0;
	}
	.home-services{
		padding:0;
	}
	.text-center.offer-img{
		text-align:left;
	}
	.features-wrap{
		padding:100px 0 300px 0;
	}
	figure.snip1210 img{
		width:100%;
	}
	.offers-wrap form{
		text-align:center;
	}
	.offers-wrap form button{
		margin-top:20px;
	}
	.right-content{
		margin:0;
	}
	.left-content {
		height: 400px;
		position: relative;
	}
	.hs-content{
		padding:0 0 30px 0;
	}
	.copyright .col-sm-8{
		text-align:left;
	}
	
	.home-pad{
		padding-top:80px;
	}
	
	#body-content [class*="col-"]:last-child, #body-content .offers-wrap .col-sm-3{
        margin-bottom: 0;
    }
	
	#body-content [class*="col-"], *[class*="col-"].footer-wrap, .app-download [class*="col-"]{
        margin-bottom: 40px;
    }
	
	#body-content .menu-wrap [class*="col-"].menu-thumb, .app-download [class*="col-"]:last-child{
		margin-bottom:0;
	}
	
	#body-content .singup-wrap [class*="col-"], #body-content #contact_form [class*="col-"]{
        margin-bottom: 15px;
    }
	#body-content .singup-wrap [class*="col-"]:last-child, .singup-wrap h1, *[class*="col-"]:last-child .footer-wrap-2, #body-content .smart-mar, #body-content .white-bg [class*="col-"]{
        margin-bottom: 0px;
    }
	*[class*="col-"] .footer-wrap{
        margin-bottom: 60px;
    }
	
	#body-content .fontawesome-icons ul li[class*="col-"]{
		margin-bottom:8px;
	}
	
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	body {
		margin:0;
		padding:0;
	}
	
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
	body {
		margin:0;
		padding:0;
	}
	
	
}


@media (min-width: 768px) and (max-width: 979px) { 
	body:after{
		position:absolute;
		content:"768*979";
		top:0;
		right:100px;
		z-index:1000;
	}
	.home-services{
		padding:0;
	}
	.home-services *[class*="col-"]{
		margin-bottom:40px;
	}
	.home-services *[class*="col-"]:last-child{
		margin-bottom:0;
	}
	.features-wrap{
		padding:100px 0 300px 0;
	}
	.team-wrap{
		margin-bottom:50px;
	}
	figure.snip1210 img{
		width:100%;
	}
	.right-content{
		margin:0;
	}
	.left-content {
		height: 400px;
		position: relative;
	}
	.hs-content .welcome-text{
		padding-top:0;
	}
 }


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	body {
		margin:0;
		padding:0;
	}
	
}