<div class="cbp-loadMore-block1">
    <div class="web-design cbp-item">
        <a href="images/gallery/img-9.jpg" class="cbp-caption cbp-lightbox" data-title="Gallery Title">
            <div class="cbp-caption-defaultWrap">
                <img src="images/gallery/img-9.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Gallery Title</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="motion web-design cbp-item">
        <a href="images/gallery/img-10.jpg" class="cbp-caption cbp-lightbox" data-title="Gallery Title">
            <div class="cbp-caption-defaultWrap">
                <img src="images/gallery/img-10.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Gallery Title</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="print cbp-item">
        <a href="images/gallery/img-11.jpg" class="cbp-caption cbp-lightbox" data-title="Gallery Title">
            <div class="cbp-caption-defaultWrap">
                <img src="images/gallery/img-11.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Gallery Title</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="cbp-loadMore-block2">   
    <div class="motion web-design cbp-item">
        <a href="images/gallery/img-12.jpg" class="cbp-caption cbp-lightbox" data-title="Gallery Title">
            <div class="cbp-caption-defaultWrap">
                <img src="images/gallery/img-12.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Gallery Title</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="motion web-design cbp-item">
        <a href="images/gallery/img-13.jpg" class="cbp-caption cbp-lightbox" data-title="Gallery Title">
            <div class="cbp-caption-defaultWrap">
                <img src="images/gallery/img-13.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Gallery Title</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
